h1{
    text-align: center;
    color: white;
}
body{
    color: white;
}
.welcome{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: middle;
}
.welcome p{
    max-width: 600px;
}